<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Cabinet</title>
</head>
<body>
<h1 th:text="#{cabinet.page.header}"></h1>
<form action="/auth/logout" method="post">
    <button type="submit" th:text="#{cabinet.page.logout.button}" ></button>
</form>
<h2 th:text="#{cabinet.page.cars.table.name}"></h2>
<form  th:href="@{/auth/cabinet/filter-by-brand(brand=${brand})}" method="POST">
    <table>
        <tr>
            <td th:text="#{cabinet.page.filter.by.brand.name}">Select brand</td>
            <td>
                <select name="brand">
                    <option value="">--</option>
                    <option th:each="car: ${cars}" th:value="${car.brand}" th:utext="${car.brand}">
                    </option>
                </select>
            </td>
            <td>
                <button type="submit" th:text="#{cabinet.page.filter.button}" ></button>
            </td>
        </tr>
    </table>
</form>
<form action="/auth/cabinet" method="get">
    <button type="submit" th:text="#{cabinet.page.filter.reset}" ></button>
</form>
<table border="1">
    <tr>
        <th>
            <a th:href = "@{/auth/cabinet/(sort_by=model,sort_dir=${direction})}" th:text="#{admin.cars.page.cars.table.car.model}"></a>
        </th>
        <th th:text="#{admin.cars.page.cars.table.car.brand}"></th>
        <th th:text="#{admin.cars.page.cars.table.car.class}"></th>
        <th>
            <a th:href = "@{/auth/cabinet/(sort_by=price,sort_dir=${direction})}" th:text="#{admin.cars.page.cars.table.car.price}"></a>
        </th>
        <th th:text="#{admin.cars.page.cars.table.car.action}"></th>
    </tr>
    <tr th:each = "car: ${cars}">
        <td th:text="${car.model}"></td>
        <td th:text="${car.brand}"></td>
        <td th:text="${car.carClass}"></td>
        <td th:text="${car.price}"></td>
        <td>
            <a type="submit"  th:text="#{cabinet.page.cars.table.select}" th:href="@{/auth/cabinet/order(id=${car.id})}"></a>
        </td>
    </tr>
</table>

</body>
</html>